prepros.cfg
prepros-6.config
.DS_Store
.settings
.buildpath
.project
.htaccess
.htpasswd
wp/wp-config.php
wp/wp-content/uploads
wp/wp-content/themes/twentysixteen

#.gitignore
wp/wp-content/plugins/huv_options/
wp/wp-content/plugins/wordpress-database-reset/
