# BEGIN maintenance - huvrid add

# 503用のHTMLを指定
ErrorDocument 503 /mainte/

RewriteEngine On
RewriteBase /

# アクセスしたURLが「mainte」ディレクトリ配下でない場合という条件
RewriteCond %{REQUEST_URI} !^/mainte/$

# アクセスした元のIPアドレスが「180.43.125.217」(huvrid)でない場合、
# または「39.110.207.111」(wevnal)という条件
RewriteCond %{REMOTE_ADDR} !^(180\.43\.125\.217|39\.110\.207\.111|192\.168\.1\.109)$

# 上記2つの条件を満たした場合に、503スタータスにする
RewriteRule ^.*$ - [R=503,L]

# END maintenance


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress