.error {
  width: 980px;
  margin: 0 auto;
}

.error-img {
  margin-bottom: 20px;
  text-align: center;
}

.error-img img {
  font-size: 0;
  line-height: 1;
}

.error-txt {
  text-align: center;
  margin-bottom: 30px;
}

.error-btn {
  background: #FFF;
  width: 380px;
  margin: 0 auto 30px;
}

.error-btn a {
  display: block;
  color: #FFF;
  line-height: 46px;
  text-align: center;
  background: #16D0D0;
  height: 46px;
  transition: all 0.3s;
}

.error-btn a:hover {
  opacity: 0.8;
}
