@charset 'utf-8';
@import 'mixin';

.error {
  width: 980px;
  margin: 0 auto;
  &__img {
    margin-bottom: 20px;
    text-align: center;
    img {
      font-size: 0;
      line-height: 1;
    }
  }
  &__txt {
    margin-bottom: 30px;
    text-align: center;
  }
  &__btn {
    width: 380px;
    margin: 0 auto 30px;
    background: #FFF;
    a {
      line-height: 46px;
      display: block;
      height: 46px;
      transition: all .3s;
      text-align: center;
      color: #FFF;
      background: #16D0D0;
      &:hover {
        opacity: .8;
      }
    }
  }
}
